@import "../../app.scss";
.pruductpage{
  width: 70%;
  margin: auto;

  
  @include mobile {
    width: 100%;

    }
}

.newProduct {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;

  .addProductCaption{

    margin-top: 60px;
    @include mobile {
      margin-right: 80px;

      }
    
  }

  .addProductTitle{
    color: white;
    margin-top: 20px;
margin-bottom: -80px;

    @include mobile {
      width: 350px;
      margin-left: -20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      }
  }

  .mentions{
      background-color: white;
      padding: 10px;
      width: 350px;
  }
  }

  .progressss{
    margin-top: 100px;
  }

  .progress-bar{
    height: 50px;
    width: 700px;
    background-color: var(--third-color);

    @include mobile {
      margin-top: 80px;
    

      }

    
  }
  
  .addProductForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;

    @include mobile {
      width: 80%;
      margin-left: -17px;
      margin-top: 80px;
    

      }
  }

  .mentions {
    margin: 1em 0;
  }
  
  
  .addProductItem {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;

    @include mobile {
      width: 80%;
      margin-top: -40px;
    

      }
  }
  
  .addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }

  .description-input{
    display: flex;
    width: 390px;
    margin-left: -20px;
  }
 
  
  #isChallenge{
    width: 350px;
  }
  .addProductButton {
    padding: 7px 10px;
    border: none;
    width: 150px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #1872f2;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }