/* git */
@import "../../../app.scss";
.onlineFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    align-items: center;

  }
  
  .onlineProfileImgContainer {
    margin-right: 5px;
    position: relative;
    @include mobile {
      margin-bottom: 30px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  
  .onlineProfileImg {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -20px;
    border-radius: 50%;
    object-fit: cover;
  }

  .onlineFollowButton{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #1872f2;;
    background-color: #fff;
    color: #1872f2;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .onlineFollowButton:focus{
    outline: none;
  }
/*   
  .onlineOnline{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: limegreen;
      position: absolute;
      top: -2px;
      right: 0;
      border: 2px solid white;
  }
   */
  .onlineUsername{
    margin-right: 20px;
      font-weight: 500;
      @include mobile {
        display: none;
      }
      
  }
  .onlineUserdesc{
    font-size: 13px;

    @include mobile {
      display: none;
    }
  }

  .verify {
    border: none;
    padding: 2px;
    margin-left: 4px;
    margin-bottom: 3px;
    font-size: 12px;
    background-color: #1872f2;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .onlineUserInfomation{
    margin-top: 0;
    margin-left: 47px;
  }