
.forgot-container{
  background-color: #eee;
  height: 100vh;


    .forgotBox{
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: auto;
        align-items: center;

        .forgot-alert{
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: white;
            background-color: green;
        }
        .error-alert{
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: white;
            background-color: red;
        }
        
        .forgot-text{
            margin-top: 20px;
        }
    
    
        .forgotInput{
            padding: 10px;
            margin: 10px;
            width: 80%;
        }
        .forgotbtn{
            width: 80%;
            margin-top: 5px;
        }
    }
}
